/*
	modified by:  Christian Salazar (@bluyell) christiansalazarh@gmail.com,  https://github.com/christiansalazar
*/
/*
<div id="main-mbmenu">
	<div id="nav-container">
		<div id="nav-bar">
			<ul id="nav">
				
				<li>	
					<a><span>Acerca De..</span></a>
				</li>
				
				<li>
					<a><span>Descargas</span></a>
					<ul>
						<li><a href="#1"><span>Print</span></a></li>
						<li class="parent last nav-expandmenu-icon"><a href="#"><span>Export as...</span></a>
							<ul>
								<li><a href="#excel"><span>Excel</span></a></li>
								<li class="last"><a href="#pdf"><span>PDF</span></a></li>
							</ul>
						</li>
					</ul>
				</li>
				
				<li class="parent nav-expandmenu-icon" alt="-72px -359px">
					<a><span></span></a>
					<ul>
						<li><a href="#4"><span>Start New Transaction</span></a></li>
						<li><a href="#5"><span>List Transactions</span></a></li>
						<li class="last"><a href="#6"><span>Employees</span></a></li>
					</ul>
				</li>

				<li><a><span>Comunidad</span></a></li>
				
				<li class="last">
					<a><span>Desarrollo</span></a></li>
			</ul>
		</div> <!-- <div id="nav-bar"> -->
	</div>	<!-- <div id="nav-container"> -->
</div><!-- mainmenu -->
*/
#nav-container{
	float: right;
	clear: both;
	display: block;
	position: relative;
	
}

#nav-bar {
	margin: 0px;
	padding: 0px;  
	padding-left: 7px;
	padding-top: 7px;
	font-size: normal;
	font-weight: normal;
	
	background-color: rgb(100,100,100);	/* color for background menu */
	background: -moz-linear-gradient(top,#666,#000);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#000));	
	
	border-radius: 7px 7px 7px 7px; 
	float: right;
	
	
}
#nav { 
float:left; margin:0;list-style-image:none;
list-style-position:outside;list-style-type:none;margin:0;padding:0;

}

/************** ALL LEVELS  *************/
#nav li { position:relative; text-align:center; margin-right: 3px; 
			z-index: 30000;
	}
#nav li.over { z-index:999999; 
	background-color: #e3ecee; 
	border-radius: 5px 5px 0px 0px; 
}
#nav li.active { position: relative; z-index:10000; }
#nav a,
#nav a:hover { display:block; text-decoration:none; }
#nav span { display:block; }
#nav a { line-height:1.3em; }


/************ 1ST LEVEL  ***************/
#nav li { float:left;  border-right: none; margin-bottom: 5px; }
#nav li.active { margin-left:-1px; 

	background-color: orange;
	background: -moz-linear-gradient(top,orange,gold);
	background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(gold), to(orange));	
	
	font-weight:normal;  border-radius: 5px; }
#nav li.active em { display:block; position:absolute; top:0; right:-1px; width:3px; height:27px; background-color:red; }
#nav a { float:left; padding:0 14px; color: white; line-height:30px; }
#nav li.active a { color: white; }
#nav li.over a { color: #333;  }


/************ 1ST LEVEL RESET ************/

#nav ul li,
#nav ul li.active { 
	list-style-image:none;list-style-position:outside;list-style-type:none;
	margin:0;padding:0; float:none; 
	height:auto; background:none; margin:0; 
	text-align: left;
	}
#nav ul a,
#nav ul a:hover { float:none; padding:0; line-height:1.3em; }
#nav ul li.over a,
#nav ul li.over a:hover,
#nav ul a,
#nav li.active li { font-weight:normal; }


/************ 2ND LEVEL ************/
#nav ul { list-style-image:none;list-style-position:outside;list-style-type:none;
	margin:0;padding:0 0 3px 0; position:absolute; width:189px; top:30px; 
			left:-10000px; 
			/*border-top:1px solid #2d444f; */
			

		}
	
#nav ul ul  { list-style-image:none;list-style-position:outside;list-style-type:none;
		margin:0;padding:2px 0 0 0; border-top:0; background:url(nav3_bg.png) 0 0 no-repeat; left:100px; top:13px; 
		
	}

/* Show menu */
#nav li.over ul { left:-2px; }
#nav li.over ul ul { left:-10000px; }
#nav li.over ul li.over ul { left:100px; }

#nav ul li { background:url(nav2_li_bg.png) repeat-y; padding:0 2px; }
#nav ul li a { background:#e3ecee; }
#nav ul li a:hover { background:#d0dfe2; }
#nav li.over ul a,
#nav ul li.active a,
#nav ul li a,
#nav ul li a:hover { color:#2f2f2f; }
#nav ul span,
#nav ul li.last li span { padding:5px 15px; background:url(nav2_link_bg.gif) repeat-x 0 100%; color: black;}
#nav ul li.last span,
#nav ul li.last li.last span { background:none; }
#nav ul li.last { background:url(nav2_last_li_bg.png) no-repeat 0 100%; padding-bottom:3px; }

#nav ul li.parent a,
#nav ul li.parent li.parent a { background-image:url(nav2_parent_arrow.gif); background-position:100% 100%; background-repeat:no-repeat; }
#nav ul li.parent li a,
#nav ul li.parent li.parent li a { background-image:none; }

/************ 3RD+ LEVEL ************/
/* Cursors */
#nav li.parent a,
#nav li.parent li.parent a,
#nav li.parent li.parent li.parent a { cursor:default; }

#nav li.parent li a,
#nav li.parent li.parent li a,
#nav li.parent li.parent li.parent li a { cursor:pointer; }

/* Show menu */
#nav ul ul ul { left:-10000px; list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0; }
#nav li.over ul li.over ul ul { left:-10000px;}
#nav li.over ul li.over ul li.over ul { left:100px; }

#nav-bar:after, #nav-container:after { content:"."; display:block; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }