body
{
	margin: 0;
	padding: 0;
	color: #333;
	font: normal 10pt Arial,Helvetica,sans-serif;
	
	
	background-color: white;
	background: -moz-linear-gradient(top,#eee,#aaa);
	background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#fff), to(#aaa));	
	
	min-height: 1000px;
}

#page
{
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: transparent;
	width: 75%;
	
}


#top-menu-items {
	margin: 0px;
	padding: 3px;
	list-style: none;
	float: right;
}

#top-menu-items .loginname , a {
	font-weight: bold;
	text-transform: capitalize;
	text-decoration: none;
	color: black;
}

#top-menu-items a {
	color: black;
}


#header
{
	margin: 0;
	padding: 10px;
	
	clear: both;
	display: block;
	
	
}
#header-right{
	float: right;
}
#header span.slogan{
	display: block;
	clear: both;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 4mm;
	clear: both;
}

#logo
{
	float: left;
	padding: 0px 0px;
	font-size: 200%;
}

#logo img {
	float: left;
	max-height: 50px;
	margin-right: 10px;
	border-radius: 10px;
	border: 5px solid white;
	margin-bottom: 10px;
}

#content
{
	width: 80%;
	min-height: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
    padding: 20px;
	background-color: white;
	
	box-shadow: 0px 0px 20px #444;
	clear: both;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	background-color: #eee;
	overflow: auto;
}
#sub-footer
{
	background-color: transparent;
	overflow: auto;
}

#footer-inner
{
	background-color: transparent;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#footer-inner .footer-left{
	float: left;
	padding: 20px;
}
#footer-inner .footer-right{
	float: right;
	padding: 20px;
}


div.foot-menu-entry{
	float: left;
	width: 16%;
}

div.foot-menu-entry li.li-head {
	padding-bottom: 10px;
}
div.foot-menu-entry li.li-head a{
	color: #333;
	font-weight: bold;
	font-size: 11px;
}

ul.footer-menu-ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-right: 30px;
}
ul.footer-menu-ul li{
	margin-bottom: 3px;
}
ul.footer-menu-ul li a{
	color:  #333;
	font-weight: normal;
	font-size: 11px;
}
ul.footer-menu-ul li a:hover{
	color: blue;
}
ul.sublista{
	margin: 0px;
	padding: 0px;
	list-style: none;
}



#sub-footer #footer-inner .footer-left{
}
#sub-footer #footer-inner .footer-right{
	width: 40%;
	font-size: small;
	text-align: right;
}
#sub-footer #footer-inner .footer-right a{
	color: blue;
}


#top-menu-items{
	list-style: none;
	float: right;
	
}
#top-menu-items li{
	float: left;
	margin-right: 10px;
	border-right: 1px solid #666;
	padding-right: 10px;
}
#top-menu-items li.last a span{
	padding-right: 0px;
	margin-right: 0px;
}
#top-menu-items li.last {
	border: none;
}
#top-menu-items li a span{
	color: #666;
	font-family: Verdana;
	font-size: 10px;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
	background: #EFF4FA;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}